<!DOCTYPE html>
<html>
    <head>
        <title>Approval</title>
    </head>
    <body>
        <div class="card">
            <div class="details">
                {% if data.userDatas %}
                    {% for i in data.userDatas %}
                        <p>Name: {{ i.UserName }}</p>
                        <p>Email: {{ i.Email }}</p>
                        <p>Mobie Number: {{ i.PhoneNumber }}</p>
                        <p>Address: {{ i.Address }} </p>
                        <p>Applied: {{ i.Applied_date }}</p>
                        <a href="/approved?user_id={{ i._id }}&house_id={{ i.houseId }}">Approve</a>
                    {% endfor %}
                {% else %}
                    <h1> No Application </h1>
                {% endif %}
            </div>
        </div>
    </body>
</html>